.title-l {
    font-family: $font-family-sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.title-m {

    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.title-s {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.h6 {
    font-family: $font-family-sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.h5 {
    //styleName: H5;
    font-family: $font-family-sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.h2 {
    font-family: $font-family-sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.body-l {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.body-s {
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.body-m {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


@include media-breakpoint-up(sm) {
    #banner-h2 {
        font-family: $font-family-sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
    }

    #banner-h5 {
        font-family: $font-family-sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
    }

    #banner-p {
        font-family: $font-family-sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}